body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--high-contrast);
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  html[data-theme="light"] {
    --primary: #44A8D1;
    --secondary: #5AC549;
    --background: #E0E5EC;
    --low-contrast: #CED2D9;
    --high-contrast: #212428;
    --text: #464D56;
  }
  html[data-theme="dark"] {
    --primary: #54C1FB;
    --secondary: #6DFB54;
    --background: #212428;
    --low-contrast: #464D56;
    --high-contrast: #E0E5EC;
    --text: #CED2D9;
  }
  
  .container {
    background: var(--low-contrast);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
    flex: 1;
    transition: background-color 0.3s ease;
  }

  /* Dark Mode Styles */
  .dark-mode .container {
    background-color: var(--low-contrast); /* Darker background for dark mode */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 10px; /* Space between buttons */
    max-width: 400px; /* Adjust width as needed */
    margin: auto; /* Center the container */
  }
  
  /* button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between; Keep the emoji at the end
    align-items: center;
  } */

  #buttons-container button {
    aspect-ratio: 2 / 1; /* Makes only the TV show buttons square */
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  /* Make sure the emoji is at the bottom */
  #buttons-container button span {
    display: block;
    font-size: 24px;
    margin-top: 5px;
  }

  /* Random Show button spans both columns */
  #random-show {
    border: none;
    border-radius: 10px;
    grid-column: span 2;
    width: 100%;
    aspect-ratio: 3 / 1; /* Prevents squareness */
    margin-top: 10px;
  }
  
  button:hover {
    background-color: var(--primary);
    opacity: .8;
  }
  
  button .icon {
    font-size: 18px;
  }
  
  .main-button {
    margin-top: 15px;
    font-size: 16px;
    align-self: center; /* Center align in the flex container */
    margin: auto;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: var(--high-contrast);
  }
/* 
  #dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px 12px;
    background-color: var(--background);
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Keep it small
  }
  
  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode button {
    background-color: #333;
    color: #ffffff;
  }
  
  .dark-mode #dark-mode-toggle {
    background-color: #444;
  } */

  footer {
    text-align: center;
    font-size: 14px;
    color: var(--high-contrast);
    padding: 10px 0;
    /* background: #fff; */
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  footer a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer span {
    color: var(--high-contrast);
  }

  #theme-toggle {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 100;
    padding: 0.75rem;
    border-radius: 9999px;
    background-color: var(--low-contrast);
    color: var(--high-contrast);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s;
    border: none;
    cursor: pointer;
  }
  #theme-toggle svg {
    z-index: 150;
    width: 24px;
  }
  #theme-toggle:hover {
    background-color: var(--primary);
  }

  html[data-theme="dark"] #sun-icon { display: block; }
  html[data-theme="dark"] #moon-icon { display: none; }
  html[data-theme="light"] #sun-icon { display: none; }
  html[data-theme="light"] #moon-icon { display: block; }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    button {
      font-size: 16px;
    }
    #theme-toggle {
      bottom: auto;
      top: 1.5rem;
    }
  }
  